In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, precision_score, recall_score,f1_score,roc_auc_score, confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import VarianceThreshold,f_regression, SelectKBest
import matplotlib.pyplot as plt

In [2]:
games2021 = pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2021_season.csv')
stats2021 = pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2021_season.csv')

c:\Users\brian\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df_games = pd.concat(
    [pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2008_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2009_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2010_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2011_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2012_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2013_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2014_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2015_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2016_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2017_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2018_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2019_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Games/games_2020_season.csv')
     ]
)

In [4]:
df_stats = pd.concat(
    [pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2008_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2009_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2010_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2011_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2012_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2013_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2014_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2015_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2016_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2017_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2018_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2019_season.csv'),
     pd.read_csv('C://Users/brian/lighthouse-data-notes/Final_Project/Data/Stats/stats_2020_season.csv')]
)

In [5]:
games_columns = ['id', 'date', 'home_team_score', 'postseason', 'season', 'visitor_team_score', 'home_team.id',
       'home_team.abbreviation', 'home_team.conference',
       'home_team.division',
       'visitor_team.id', 'visitor_team.abbreviation',
       'visitor_team.conference', 'visitor_team.division']

In [6]:
#filter only desired columns and regular season games, and sort by date
df_games = df_games[df_games['postseason'] == False].filter(games_columns).sort_values('date')

In [7]:
df_games

,id,date,home_team_score,postseason,season,visitor_team_score,home_team.id,home_team.abbreviation,home_team.conference,home_team.division,visitor_team.id,visitor_team.abbreviation,visitor_team.conference,visitor_team.division
124,21556,2008-10-28T00:00:00.000Z,108,False,2008,95,5,CHI,East,Central,17,MIL,East,Central
91,21472,2008-10-28T00:00:00.000Z,90,False,2008,85,2,BOS,East,Atlantic,6,CLE,East,Central
92,21473,2008-10-28T00:00:00.000Z,96,False,2008,76,14,LAL,West,Pacific,25,POR,West,Northwest
296,22037,2008-10-29T00:00:00.000Z,103,False,2008,108,10,GSW,West,Pacific,19,NOP,West,Southwest
128,21560,2008-10-29T00:00:00.000Z,79,False,2008,117,13,LAC,West,Pacific,14,LAL,West,Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,264797,2021-05-16T00:00:00.000Z,98,False,2020,110,19,NOP,West,Southwest,14,LAL,West,Pacific
1003,264794,2021-05-16T00:00:00.000Z,124,False,2020,95,1,ATL,East,Southeast,11,HOU,West,Southwest
895,264801,2021-05-16T00:00:00.000Z,115,False,2020,110,30,WAS,East,Southeast,4,CHA,East,Southeast
896,264793,2021-05-16T00:00:00.000Z,136,False,2020,121,18,MIN,West,Northwest,7,DAL,West,Southwest
477,422473,2021-05-18T00:00:00.000Z,118,False,2020,100,2,BOS,East,Atlantic,30,WAS,East,Southeast

In [8]:
df_stats

,id,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,fgm,...,player.team_id,player.weight_pounds,team.id,team.abbreviation,team.city,team.conference,team.division,team.full_name,team.name,player
0,527268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,NaN,23,PHI,Philadelphia,East,Atlantic,Philadelphia 76ers,76ers,NaN
1,527267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,NaN,23,PHI,Philadelphia,East,Atlantic,Philadelphia 76ers,76ers,NaN
2,527251,1.0,0.0,0.0,0.0,0.0,0.0,0.500,4.0,2.0,...,18.0,NaN,12,IND,Indiana,East,Central,Indiana Pacers,Pacers,NaN
3,527254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,NaN,12,IND,Indiana,East,Central,Indiana Pacers,Pacers,NaN
4,527261,12.0,0.0,6.0,0.0,1.0,0.0,0.417,12.0,5.0,...,6.0,NaN,23,PHI,Philadelphia,East,Atlantic,Philadelphia 76ers,76ers,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31652,6966964,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,...,8.0,190.0,17,MIL,Milwaukee,East,Central,Milwaukee Bucks,Bucks,NaN
31653,6966965,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,...,24.0,210.0,17,MIL,Milwaukee,East,Central,Milwaukee Bucks,Bucks,NaN
31654,6966966,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,...,15.0,NaN,17,MIL,Milwaukee,East,Central,Milwaukee Bucks,Bucks,NaN
31655,6966967,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,...,17.0,NaN,17,MIL,Milwaukee,East,Central,Milwaukee Bucks,Bucks,NaN
31656,6966970,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,...,17.0,NaN,17,MIL,Milwaukee,East,Central,Milwaukee Bucks,Bucks,NaN

In [9]:
# Function to group all stats by game

def group_stats_by_game(df):
    #remove post season games
    df = df[df['game.postseason'] == False]

    # List of columns to keep
    stats_columns_to_keep = ['game.season','game.date','game.id','team.id','game.home_team_id','game.visitor_team_id','ast', 'blk', 'dreb', 'fg3a', 'fg3m', 'fga',
       'fgm', 'fta', 'ftm', 'min', 'oreb', 'pf', 'pts', 'reb', 'stl', 'turnover']

    # Keep only specified columns and sort by date
    df = df[stats_columns_to_keep].sort_values('game.date')

    # New field indicating whether team is at home
    df['home'] = np.where(df['team.id'] == df['game.home_team_id'], 1, 0)

    # Group all stats by game/team
    df = df.groupby(['game.season', 'game.date', 'game.id', 'team.id', 'game.home_team_id','game.visitor_team_id','home']).sum().reset_index()

    # Create column to indicate opponent id
    df['opp.id'] = np.where(df['team.id'] == df['game.home_team_id'], df['game.visitor_team_id'], df['game.home_team_id'])
    df.drop(['game.home_team_id','game.visitor_team_id'], axis=1,inplace=True)

    return df

In [10]:
# Function that creates dataframe with opponent stats for each team
def opponent_stats(df):
    df['team.id_copy'] = df['team.id']
    df['home'] = np.where(df['home'] == 1, 0, 1)
    df.drop(['team.id'], axis=1,inplace=True)
    df.rename(columns={'opp.id':'team.id','team.id_copy':'opp.id','ast':'opp_ast', 'blk':'opp_blk',
       'dreb':'opp_dreb', 'fg3a':'opp_fg3a', 'fg3m':'opp_fg3m', 'fga':'opp_fga', 'fgm':'opp_fgm', 'fta':'opp_fta', 'ftm':'opp_ftm', 'oreb':'opp_oreb', 'pf':'opp_pf', 'pts':'opp_pts',
       'reb':'opp_reb', 'stl':'opp_stl', 'turnover':'opp_turnover'},inplace=True)

    return df

In [11]:
# Function that creates a dataframe with opponent stats grouped by game
def prepare_stats_df(df):
    df_team = group_stats_by_game(df)
    df_opponent = opponent_stats(group_stats_by_game(df))
    #merge df and df_opponents
    df = pd.merge(df_team, df_opponent, how='outer', on=['game.season', 'game.date','game.id','team.id','opp.id','home'])
    return df

In [12]:
# Creates columns with average team and opponent point totals
def create_average_scoring(df):
    # Team stats
    # Group by season and team and calculates a rolling mean of last x number of games with period of 1. Shift() to exclude the current row to only look at past rows
    df['score_avg_season'] = df.groupby(['game.season', 'team.id'])['pts'].transform(lambda x: x.rolling(82, 1).mean().shift())

    # Last 10 games
    df['score_avg_l10'] = df.groupby(['game.season', 'team.id'])['pts'].transform(lambda x: x.rolling(10, 1).mean().shift())

    # Average score for each team for the season by its home/away status(window size 41)
    df['pt_diff_avg_home'] = df.groupby(['game.season', 'team.id','home'])['pts'].transform(lambda x: x.rolling(41, 1).mean().shift())

    # Vs same opponent same team last 8 games (not limited by season)
    df['score_avg_h2hl8'] = df.groupby(['team.id','opp.id'])['pts'].transform(lambda x: x.rolling(8, 1).mean().shift())
    
    # Opponent stats
    df['opp_score_avg_season'] = df.groupby(['game.season', 'team.id'])['opp_pts'].transform(lambda x: x.rolling(82, 1).mean().shift())

    # Last 10 games
    df['opp_score_avg_l10'] = df.groupby(['game.season', 'team.id'])['opp_pts'].transform(lambda x: x.rolling(10, 1).mean().shift())

    # Average score for each team for the season by its home/away status(window size 41)
    df['opp_pt_diff_avg_home'] = df.groupby(['game.season', 'team.id','home'])['opp_pts'].transform(lambda x: x.rolling(41, 1).mean().shift())

    # Vs same opponent same team last 8 games (not limited by season)
    df['opp_score_avg_h2hl8'] = df.groupby(['team.id','opp.id'])['opp_pts'].transform(lambda x: x.rolling(8, 1).mean().shift())
    
    return df

In [13]:
def create_point_diff(df):
    # Calculate point differential for the current game
    df['pt_diff'] = df['pts'] - df['opp_pts']

    # Calculate average point differential for each team for the season (window size 82)
    df['pt_diff_avg_season'] = df.groupby(['game.season', 'team.id'])['pt_diff'].transform(lambda x: x.rolling(82, 1).mean().shift())

    # Calculate average point differential for each team for the season by its home/away status(window size 41)
    df['pt_diff_avg_home'] = df.groupby(['game.season', 'team.id','home'])['pt_diff'].transform(lambda x: x.rolling(41, 1).mean().shift())

    # Avg diff over the last 10 games (same season)
    df['pt_diff_avg_l10'] = df.groupby(['game.season', 'team.id'])['pt_diff'].transform(lambda x: x.rolling(10, 1).mean().shift())

    # Vs same opponent same team last 8 games (not limited by season)
    df['pt_diff_avg_h2hl8'] = df.groupby(['team.id','opp.id'])['pt_diff'].transform(lambda x: x.rolling(8, 1).mean().shift())

    df.drop(['pt_diff'], axis=1, inplace=True)
    
    return df

In [14]:
def create_efg_pct(df):

    # Effective field goal percentage = (fgm + (.5 * 3pm)) / fga
    df['fgm_total'] = df.groupby(['game.season', 'team.id'])['fgm'].transform(lambda x: x.rolling(82,1).sum().shift())
    df['fg3m_total'] = df.groupby(['game.season', 'team.id'])['fg3m'].transform(lambda x: x.rolling(82,1).sum().shift())
    df['fga_total'] = df.groupby(['game.season', 'team.id'])['fga'].transform(lambda x: x.rolling(82,1).sum().shift())
    df['efg_pct'] = (df['fgm_total'] + (0.5 * df['fg3m_total'])) / df['fga_total']
    df.drop(['fgm_total','fg3m_total','fga_total'], axis=1, inplace=True)

    df['opp_fgm_total'] = df.groupby(['game.season', 'team.id'])['opp_fgm'].transform(lambda x: x.rolling(82,1).sum().shift())
    df['opp_fg3m_total'] = df.groupby(['game.season', 'team.id'])['opp_fg3m'].transform(lambda x: x.rolling(82,1).sum().shift())
    df['opp_fga_total'] = df.groupby(['game.season', 'team.id'])['opp_fga'].transform(lambda x: x.rolling(82,1).sum().shift())
    df['opp_efg_pct'] = (df['opp_fgm_total'] + (0.5 * df['opp_fg3m_total'])) / df['opp_fga_total']
    df.drop(['opp_fgm_total','opp_fg3m_total','opp_fga_total'], axis=1, inplace=True)
    
    return df

In [15]:
def create_avg_boxscr_stats(df):
    df['fg3m_avg'] = df.groupby(['game.season', 'team.id'])['fg3m'].transform(lambda x: x.rolling(10,1).mean().shift())
    df['opp_fg3m_avg'] = df.groupby(['game.season', 'team.id'])['opp_fg3m'].transform(lambda x: x.rolling(10,1).mean().shift())

    df['ftm_avg'] = df.groupby(['game.season', 'team.id'])['ftm'].transform(lambda x: x.rolling(10,1).mean().shift())
    df['opp_ftm_avg'] = df.groupby(['game.season', 'team.id'])['opp_ftm'].transform(lambda x: x.rolling(10,1).mean().shift())

    df['ast_avg'] = df.groupby(['game.season', 'team.id'])['ast'].transform(lambda x: x.rolling(10,1).mean().shift())
    df['opp_ast_avg'] = df.groupby(['game.season', 'team.id'])['opp_ast'].transform(lambda x: x.rolling(10,1).mean().shift())

    df['turnover_avg'] = df.groupby(['game.season', 'team.id'])['turnover'].transform(lambda x: x.rolling(10,1).mean().shift())
    df['opp_turnover_avg'] = df.groupby(['game.season', 'team.id'])['opp_turnover'].transform(lambda x: x.rolling(10,1).mean().shift())

    df['reb_avg'] = df.groupby(['game.season', 'team.id'])['reb'].transform(lambda x: x.rolling(10,1).mean().shift())
    df['opp_reb_avg'] = df.groupby(['game.season', 'team.id'])['opp_reb'].transform(lambda x: x.rolling(10,1).mean().shift())

    df['oreb_avg'] = df.groupby(['game.season', 'team.id'])['oreb'].transform(lambda x: x.rolling(10,1).mean().shift())
    df['opp_reb_avg'] = df.groupby(['game.season', 'team.id'])['opp_oreb'].transform(lambda x: x.rolling(10,1).mean().shift())

    df['stl_avg'] = df.groupby(['game.season', 'team.id'])['stl'].transform(lambda x: x.rolling(10,1).mean().shift())
    df['opp_stl_avg'] = df.groupby(['game.season', 'team.id'])['opp_stl'].transform(lambda x: x.rolling(10,1).mean().shift())

    df['blk_avg'] = df.groupby(['game.season', 'team.id'])['blk'].transform(lambda x: x.rolling(10,1).mean().shift())
    df['opp_blk_avg'] = df.groupby(['game.season', 'team.id'])['opp_blk'].transform(lambda x: x.rolling(10,1).mean().shift())

    return df

In [16]:
def feat_engineering(df):
    df = create_average_scoring(df)
    df = create_point_diff(df)
    df = create_efg_pct(df)
    df = create_avg_boxscr_stats(df)
    
    #drop some of the raw non-aggregated stats
    df.drop(['ast', 'blk', 'dreb', 'fg3a', 'fg3m', 'fga', 'fgm', 'fta', 'ftm', 'oreb', 'pf', 'reb', 'stl', 'turnover',
               'opp_ast', 'opp_blk', 'opp_dreb', 'opp.id','opp_fg3a', 'opp_fg3m', 'opp_fga', 'opp_fgm', 'opp_fta', 'opp_ftm', 'opp_oreb', 'opp_pf', 'opp_reb', 'opp_stl', 'opp_turnover','opp_pts'],
              axis=1, inplace=True)
    return df

In [17]:
# Puts the stats for each team in a game onto the same row
def combine_games(df):
    df_home = df[df['home'] == 1]
    df_away = df[df['home'] == 0]
    df = pd.merge(df_home, df_away, how='outer', on=['game.season', 'game.date','game.id'])
    return df

In [18]:
def preprocess_df(df):
    df = prepare_stats_df(df)
    df = feat_engineering(df)
    df = combine_games(df)
    # winner column. 1 is when home team wins
    df['winner'] = np.where(df['pts_x'] > df['pts_y'], 1, 0)
    return df

In [19]:
df_stats_prepped = preprocess_df(df_stats)
df_val = preprocess_df(stats2021)

# Feature Selection

In [20]:
columns_to_drop_clfX = ['game.season','game.date','game.id','team.id_x','home_x','pts_x','team.id_y','home_y','pts_y','winner']
columns_to_drop_regrX = ['game.season','game.date','game.id','team.id_x','home_x','team.id_y','home_y','winner']

df_stats_prepped.dropna(axis=0, inplace=True)
y = df_stats_prepped['winner']
df_X = df_stats_prepped.drop(columns_to_drop_clfX, axis =1)

val_X = df_val.drop(columns_to_drop_clfX, axis=1)
val_X = val_X.apply(lambda x: x.fillna(x.mean()),axis=0)

df_X.dropna(axis=0, inplace=True)

In [21]:
val_X = df_val.drop(columns_to_drop_clfX, axis=1)
val_X = val_X.apply(lambda x: x.fillna(x.mean()),axis=0)
val_y = df_val['winner']

In [22]:
val_X

,score_avg_season_x,score_avg_l10_x,pt_diff_avg_home_x,score_avg_h2hl8_x,opp_score_avg_season_x,opp_score_avg_l10_x,opp_pt_diff_avg_home_x,opp_score_avg_h2hl8_x,pt_diff_avg_season_x,pt_diff_avg_l10_x,...,opp_ast_avg_y,turnover_avg_y,opp_turnover_avg_y,reb_avg_y,opp_reb_avg_y,oreb_avg_y,stl_avg_y,opp_stl_avg_y,blk_avg_y,opp_blk_avg_y
0,109.436586,109.88302,2.249683,109.316491,109.843847,109.929344,109.021775,110.732397,-0.000939,0.103602,...,24.466278,13.485635,13.569269,44.941823,10.614081,10.618032,7.838115,7.843247,4.896072,4.942403
1,109.436586,109.88302,2.249683,109.316491,109.843847,109.929344,109.021775,110.732397,-0.000939,0.103602,...,24.466278,13.485635,13.569269,44.941823,10.614081,10.618032,7.838115,7.843247,4.896072,4.942403
2,109.436586,109.88302,2.249683,109.316491,109.843847,109.929344,109.021775,110.732397,-0.000939,0.103602,...,24.466278,13.485635,13.569269,44.941823,10.614081,10.618032,7.838115,7.843247,4.896072,4.942403
3,109.436586,109.88302,2.249683,109.316491,109.843847,109.929344,109.021775,110.732397,-0.000939,0.103602,...,24.466278,13.485635,13.569269,44.941823,10.614081,10.618032,7.838115,7.843247,4.896072,4.942403
4,109.436586,109.88302,2.249683,109.316491,109.843847,109.929344,109.021775,110.732397,-0.000939,0.103602,...,18.000000,12.000000,16.000000,39.000000,9.000000,12.000000,11.000000,4.000000,5.000000,6.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287,108.146341,110.10000,-1.243902,98.666667,108.121951,106.600000,110.585366,107.666667,0.024390,3.500000,...,25.900000,10.300000,14.500000,45.200000,10.500000,12.800000,9.200000,6.400000,4.700000,4.700000
1288,104.609756,100.50000,-7.975610,92.666667,112.548780,110.400000,110.121951,105.000000,-7.939024,-9.900000,...,23.700000,14.400000,12.300000,38.500000,10.100000,6.500000,7.500000,8.300000,2.700000,2.400000
1289,111.548780,115.20000,3.560976,134.000000,109.743902,112.900000,108.439024,122.000000,1.804878,2.300000,...,24.500000,11.900000,13.700000,43.200000,10.300000,10.000000,9.000000,7.600000,5.200000,6.100000
1290,107.865854,100.70000,-4.902439,99.000000,116.707317,122.000000,116.975610,124.000000,-8.841463,-21.300000,...,26.400000,11.600000,10.800000,43.700000,9.800000,11.800000,7.100000,7.000000,4.200000,4.300000
1291,116.085366,116.40000,8.975610,138.750000,108.768293,114.400000,105.902439,143.000000,7.317073,2.000000,...,28.200000,13.700000,14.300000,40.800000,10.900000,8.100000,6.800000,9.400000,4.400000,3.700000

In [23]:
# remove features with small variance
vt = VarianceThreshold(0.1)
df_transformed = vt.fit_transform(df_X)
selected_columns = df_X.columns[vt.get_support()]
# transforming an array back to a data-frame preserves column labels
df_transformed = pd.DataFrame(df_transformed, columns = selected_columns)

# remove highly correlated pairs
df_corr = df_transformed.corr().abs()
indices = np.where(df_corr > 0.9)
indices = [(df_corr.index[x], df_corr.columns[y]) for x, y in zip(*indices)
              if x != y and x < y]
for idx in indices:
    try:
        df_transformed.drop(idx[1], axis = 1, inplace=True)
    except KeyError:
        pass

#select kbest
skb = SelectKBest(f_regression, k=30)
X = skb.fit_transform(df_transformed, y)
X = pd.DataFrame(X,columns=df_transformed.columns[skb.get_support()])

In [24]:
feats = X.columns.to_list()
val_X = val_X[feats]

In [25]:
feats

['score_avg_season_x',
 'score_avg_l10_x',
 'pt_diff_avg_home_x',
 'opp_score_avg_season_x',
 'opp_score_avg_l10_x',
 'opp_pt_diff_avg_home_x',
 'opp_score_avg_h2hl8_x',
 'pt_diff_avg_season_x',
 'pt_diff_avg_l10_x',
 'pt_diff_avg_h2hl8_x',
 'opp_fg3m_avg_x',
 'ftm_avg_x',
 'ast_avg_x',
 'opp_ast_avg_x',
 'stl_avg_x',
 'blk_avg_x',
 'opp_blk_avg_x',
 'score_avg_season_y',
 'score_avg_l10_y',
 'pt_diff_avg_home_y',
 'opp_score_avg_season_y',
 'opp_score_avg_l10_y',
 'pt_diff_avg_season_y',
 'pt_diff_avg_l10_y',
 'fg3m_avg_y',
 'opp_ftm_avg_y',
 'ast_avg_y',
 'opp_ast_avg_y',
 'blk_avg_y',
 'opp_blk_avg_y']

In [26]:
from sklearn.preprocessing import StandardScaler
def standard_scale(df):
    scaler = StandardScaler()
    X = scaler.fit_transform(df)
    return X

In [27]:
X = standard_scale(X)
val_X = standard_scale(val_X)

# Classification Model

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.80,random_state=1,stratify=y)

In [29]:
# Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
grid_search_rf = GridSearchCV(
    clf,
    {
        'n_estimators': [10,20,40,60],
        'max_depth': [4,6,8,10],
        'min_samples_leaf': [10,30,50,70],
    },
    cv=5,
    n_jobs=-1,
    scoring='precision'
)
grid_search_rf.fit(X_train, y_train)
print('Best params:', grid_search_rf.best_params_)
print('Best score:', grid_search_rf.best_score_)

Best params: {'max_depth': 10, 'min_samples_leaf': 30, 'n_estimators': 60}
Best score: 0.685797925976738

In [30]:
y_pred = grid_search_rf.predict(X_test)

In [31]:
print(f'Accuracy score is: {accuracy_score(y_test, y_pred)}')
print(f'Precision score is: {precision_score(y_test, y_pred)}')
print(f'Recall score is: {recall_score(y_test, y_pred)}')
print(f'f1 score is: {f1_score(y_test, y_pred)}')
print(f'ROC AUC score is: {roc_auc_score(y_test, y_pred)}')
print(confusion_matrix(y_test, y_pred))

Accuracy score is: 0.6616915422885572
Precision score is: 0.6840703249866809
Recall score is: 0.7814972611077298
f1 score is: 0.7295454545454546
ROC AUC score is: 0.637546239435163
[[ 578  593]
 [ 359 1284]]

In [32]:
# SVM Classifier
from sklearn.svm import SVC

In [33]:
clf2 = SVC(probability=True)

grid_search_svm = GridSearchCV(
    clf2,
    {
        'C': [.1, .5, 1, 1.5, 2],
        'kernel': ['poly', 'rbf'],
    },
    cv=5,
    n_jobs=-1,
    scoring='precision' #['precision', 'recall', 'f1']
)  
grid_search_svm.fit(X_train,y_train)
print('Best params:',grid_search_svm.best_params_)
print('Best score:',grid_search_svm.best_score_)
clf2.fit(X_train,y_train)

Best params: {'C': 1.5, 'kernel': 'rbf'}
Best score: 0.6721011238413505

SVC(probability=True)

In [34]:
y_pred = grid_search_svm.predict(X_test)

In [35]:
print(f'Accuracy score is: {accuracy_score(y_test,y_pred)}')
print(f'Precision score is: {precision_score(y_test,y_pred)}')
print(f'Recall score is: {recall_score(y_test,y_pred)}')
print(f'f1 score is: {f1_score(y_test,y_pred)}')
print(f'ROC AUC score is: {roc_auc_score(y_test,y_pred)}')
print(confusion_matrix(y_test,y_pred))

Accuracy score is: 0.6549395877754086
Precision score is: 0.6719549641760492
Recall score is: 0.7991479001825929
f1 score is: 0.730052821795941
ROC AUC score is: 0.625876255812902
[[ 530  641]
 [ 330 1313]]

Predict 2021 Season

In [36]:
pred_y = grid_search_rf.predict(val_X)
pred_y_proba = grid_search_rf.predict_proba(val_X)

In [37]:
print(f'Accuracy score is: {accuracy_score(val_y,pred_y)}')
print(f'Precision score is: {precision_score(val_y,pred_y)}')
print(f'Recall score is: {recall_score(val_y,pred_y)}')
print(f'ROC AUC score is: {roc_auc_score(val_y,pred_y)}')
print(confusion_matrix(y_test,y_pred))

Accuracy score is: 0.6145510835913313
Precision score is: 0.6118568232662193
Recall score is: 0.7836676217765043
ROC AUC score is: 0.5997462688007101
[[ 530  641]
 [ 330 1313]]

# Exploring the Results

In [38]:
df2021 = df_val[['game.date', 'game.id', 'team.id_x', 'team.id_y', 'pts_x', 'pts_y', 'winner']]

In [39]:
predicted_2021 = pd.DataFrame(pred_y).rename(columns={0: 'predicted_winner'})
predicted_2021_proba = pd.DataFrame(pred_y_proba).rename(columns={0: 'away_team_win_proba', 1: 'home_team_win_proba'})

In [40]:
df2021 = pd.concat([df2021, predicted_2021, predicted_2021_proba], axis=1)
df2021['proba_diff'] = abs(df2021['home_team_win_proba'] - df2021['away_team_win_proba'])

dfgames2021 = games2021[games2021['postseason'] == False]
dfgames2021 = dfgames2021[['id','home_team.abbreviation','visitor_team.abbreviation','home_team.conference','visitor_team.conference']]
dfgames2021 = dfgames2021.rename(columns = {'id':'game.id'})

df2021 = pd.merge(df2021, dfgames2021, how='outer', on=['game.id'])
df2021['pts_diff'] = abs(df2021['pts_x'] - df2021['pts_y'])
df2021['correct'] = np.where(df2021['winner'] == df2021['predicted_winner'], True, False)

In [41]:
df2021

,game.date,game.id,team.id_x,team.id_y,pts_x,pts_y,winner,predicted_winner,away_team_win_proba,home_team_win_proba,proba_diff,home_team.abbreviation,visitor_team.abbreviation,home_team.conference,visitor_team.conference,pts_diff,correct
0,2021-08-03T00:00:00.000Z,448625,16.0,14.0,80.0,78.0,1.0,1.0,0.394168,0.605832,0.211664,MIA,LAL,East,West,2.0,True
1,2021-08-03T00:00:00.000Z,448628,26.0,10.0,82.0,89.0,0.0,1.0,0.394168,0.605832,0.211664,SAC,GSW,West,West,7.0,False
2,2021-08-06T00:00:00.000Z,450930,15.0,27.0,82.0,77.0,1.0,1.0,0.394168,0.605832,0.211664,MEM,SAS,West,West,5.0,True
3,2021-08-10T00:00:00.000Z,455103,11.0,9.0,111.0,91.0,1.0,1.0,0.394168,0.605832,0.211664,HOU,DET,West,East,20.0,True
4,2021-08-10T00:00:00.000Z,455104,30.0,26.0,75.0,89.0,0.0,1.0,0.312533,0.687467,0.374933,WAS,SAC,East,West,14.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319,NaN,452670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GSW,ORL,West,East,NaN,False
1320,NaN,452671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MEM,BKN,West,East,NaN,False
1321,NaN,452672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PHI,DAL,East,West,NaN,False
1322,NaN,452857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NYK,IND,East,East,NaN,False
1323,NaN,455102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAS,CHI,West,East,NaN,False

In [42]:
df = df2021[['correct','proba_diff','pts_diff']]
df.groupby('correct').mean()

         proba_diff   pts_diff
correct
False      0.277221  10.633065
True       0.335209  13.957125

In [43]:
df = df2021
df['month_year'] = pd.to_datetime(df['game.date']).dt.to_period('M')
df = df[['month_year','correct','game.id']]
df = df.groupby(['month_year','correct']).count().unstack().reset_index().values
df = pd.DataFrame(df).rename(columns={0: 'month_year', 1:'false', 2:'true'})
df['pct'] = df['true'] / (df['true'] + df['false'])
df

c:\Users\brian\anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1143: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

  month_year false true       pct
0    2021-08    31   28  0.474576
1    2021-10    47   55  0.539216
2    2021-11    94  131  0.582222
3    2021-12    95  125  0.568182
4    2022-01    79  148  0.651982
5    2022-02    54  106    0.6625
6    2022-03    69  150  0.684932
7    2022-04    29   51    0.6375

In [44]:
df_home = df2021.copy()
df_home = df_home[['home_team.abbreviation','winner','predicted_winner','home_team.conference']]
df_home = df_home.groupby(['home_team.abbreviation','home_team.conference'])[['winner','predicted_winner']].sum().reset_index()
df_home = df_home.rename(columns={'home_team.abbreviation':"Team","home_team.conference":"Conference","winner": "Home Wins", "predicted_winner":"Pred Home Wins"})

In [45]:
df_away = df2021.copy()
df_away = df_away[['visitor_team.abbreviation','winner','predicted_winner','visitor_team.conference']]
df_away['winner'] = np.where(df_away['winner'] == 0, 1, 0)
df_away['predicted_winner'] = np.where(df_away['predicted_winner'] == 0, 1, 0)
df_away = df_away.groupby(['visitor_team.abbreviation','visitor_team.conference'])[['winner','predicted_winner']].sum().reset_index()
df_away = df_away.rename(columns={'visitor_team.abbreviation':"Team",'visitor_team.conference':'Conference',"winner": "Away Wins", "predicted_winner":"Pred Away Wins"})

In [46]:
df_predicted2021 = pd.merge(df_home, df_away, on=['Team','Conference'])
df_predicted2021['Wins'] = df_predicted2021['Home Wins'] + df_predicted2021['Away Wins']
df_predicted2021['Predicted Wins'] = df_predicted2021['Pred Home Wins'] + df_predicted2021['Pred Away Wins']
df_predicted2021['Wins Diff'] = df_predicted2021['Predicted Wins'] - df_predicted2021['Wins']

df_predicted2021East = df_predicted2021.copy()
df_predicted2021East = df_predicted2021East[df_predicted2021East['Conference'] == "East"]
df_predicted2021East.drop(['Conference'], axis=1, inplace=True)

df_predicted2021West = df_predicted2021.copy()
df_predicted2021West = df_predicted2021West[df_predicted2021West['Conference'] == "West"]
df_predicted2021West.drop(['Conference'], axis=1, inplace=True)

In [50]:
df_predicted2021East.sort_values('Predicted Wins', ascending=False, inplace = True)
df_predicted2021East['2021 Standings'] = df_predicted2021East['Wins'].rank(ascending=False)
df_predicted2021East['Predicted Standings'] = df_predicted2021East['Predicted Wins'].rank(ascending=False)
df_predicted2021East[['Predicted Standings','Team','Predicted Wins']]

    Predicted Standings Team  Predicted Wins
15                  1.0  MIA            67.0
2                   2.0  BOS            66.0
27                  3.0  TOR            54.0
16                  4.0  MIL            53.0
5                   5.0  CLE            51.0
4                   6.5  CHI            50.0
22                  6.5  PHI            50.0
11                  8.0  IND            49.0
1                   9.0  BKN            45.0
19                 10.0  NYK            43.0
0                  11.0  ATL            42.0
29                 12.0  WAS            38.0
3                  13.0  CHA            37.0
8                  14.0  DET             9.0
21                 15.0  ORL             5.0

In [52]:
df_predicted2021West.sort_values('Predicted Wins', ascending=False, inplace = True)
df_predicted2021West['2021 Standings'] = df_predicted2021West['Wins'].rank(ascending=False)
df_predicted2021West['Predicted Standings'] = df_predicted2021West['Predicted Wins'].rank(ascending=False)
df_predicted2021West['Standings change'] = df_predicted2021West['2021 Standings'] - df_predicted2021West['Predicted Standings']

df_predicted2021West[['Predicted Standings','Team','Predicted Wins']]

    Predicted Standings Team  Predicted Wins
9                   1.0  GSW            70.0
28                  2.0  UTA            67.0
23                  3.0  PHX            66.0
17                  4.0  MIN            56.0
7                   5.0  DEN            55.0
25                  6.0  SAC            47.0
14                  7.0  MEM            46.0
26                  8.0  SAS            45.0
6                   9.0  DAL            44.0
12                 10.0  LAC            38.0
13                 11.5  LAL            27.0
18                 11.5  NOP            27.0
24                 13.0  POR            20.0
10                 14.0  HOU            18.0
20                 15.0  OKC             7.0

In [49]:
df_predicted2021

,Team,Conference,Home Wins,Pred Home Wins,Away Wins,Pred Away Wins,Wins,Predicted Wins,Wins Diff
0,ATL,East,26.0,31.0,18,11,44.0,42.0,-2.0
1,BKN,East,22.0,29.0,25,16,47.0,45.0,-2.0
2,BOS,East,31.0,43.0,24,23,55.0,66.0,11.0
3,CHA,East,22.0,25.0,22,12,44.0,37.0,-7.0
4,CHI,East,28.0,39.0,19,11,47.0,50.0,3.0
5,CLE,East,26.0,32.0,21,19,47.0,51.0,4.0
6,DAL,West,29.0,32.0,24,12,53.0,44.0,-9.0
7,DEN,West,24.0,38.0,26,17,50.0,55.0,5.0
8,DET,East,13.0,8.0,12,1,25.0,9.0,-16.0
9,GSW,West,31.0,42.0,26,28,57.0,70.0,13.0
10,HOU,West,12.0,12.0,10,6,22.0,18.0,-4.0
11,IND,East,16.0,32.0,11,17,27.0,49.0,22.0
12,LAC,West,27.0,31.0,17,7,44.0,38.0,-6.0
13,LAL,West,19.0,21.0,14,6,33.0,27.0,-6.0
14,MEM,West,31.0,34.0,28,12,59.0,46.0,-13.0
15,MIA,East,31.0,45.0,27,22,58.0,67.0,9.0
16,MIL,East,26.0,35.0,23,18,49.0,53.0,4.0
17,MIN,West,28.0,36.0,20,20,48.0,56.0,8.0
18,NOP,West,21.0,19.0,19,8,40.0,27.0,-13.0
19,NYK,East,19.0,31.0,21,12,40.0,43.0,3.0
20,OKC,West,13.0,6.0,11,1,24.0,7.0,-17.0
21,ORL,East,13.0,4.0,11,1,24.0,5.0,-19.0
22,PHI,East,25.0,38.0,27,12,52.0,50.0,-2.0
23,PHX,West,33.0,42.0,33,24,66.0,66.0,0.0
24,POR,West,18.0,16.0,10,4,28.0,20.0,-8.0
25,SAC,West,18.0,34.0,16,13,34.0,47.0,13.0
26,SAS,West,17.0,31.0,19,14,36.0,45.0,9.0
27,TOR,East,28.0,41.0,23,13,51.0,54.0,3.0
28,UTA,West,29.0,41.0,22,26,51.0,67.0,16.0
29,WAS,East,22.0,26.0,15,12,37.0,38.0,1.0